<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World - Input Form</title>
</head>
<body>

<form th:action="@{/processFormVersionThree}" method="GET">

    <input type="text" name="studentName"
           placeholder="What's your name?" />

    <input type="submit" />

</form>


</body>
</html>

