<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

    First name: <input type="text" th:field="*{firstName}" />

    <br><br>

    Last name: <input type="text" th:field="*{lastName}" />

    <br><br>

    Country:

    <select th:field="*{country}">

        <option th:each="tempCountry : ${countries}"
                th:value="${tempCountry}"
                th:text="${tempCountry}"/>

    </select>

    <input type="submit" value="submit" />

    <br><br>

    Favorite language:

    <input type="radio" th:field="*{language}"
                        th:each="tempLanguage : ${languages}"
                        th:value="${tempLanguage}"
                        th:text="${tempLanguage}"/>


</form>

</body>
</html>