<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>

<h3>Save Employee</h3>

<form action="#" th:action="@{/employees/save}"
                 th:object="${employee}" method="POST">

    <input type="text" th:field="*{firstName}" placeholder="First name"
           class="form-control mb-4 w-25">

    <br><br>

    <input type="text" th:field="*{lastName}" placeholder="Last name"
           class="form-control mb-4 w-25">

    <br><br>

    <input type="text" th:field="*{email}" placeholder="Email"
           class="form-control mb-4 w-25">

    <br><br>

    <button type="submit" class="btn btn-info col-2">Save</button>

</form>

</body>
</html>